<p>
  <b>Group:</b>
  <%= @group.group_id %>@cojourners.com
</p>

<p>
  <b>Group name:</b>
  <%= @group.group_name %>
</p>

<p>
  <b>Group description:</b>
  <%= @group.group_description %>
</p>

<p>
  <b>Email permission:</b>
  <%= @group.email_permission %>
</p>

<% if @group.owners.present? %>
<p>
  <% @emails = @group.owners.collect(&:email) %>
  <b>Group Owners:</b> 
  <ul>
    <% @emails.each do |email| %>
      <li><%= email %></li>
    <% end %>
  </ul>
</p>
<% end %>

<p>
  <% @emails = @group.all_addresses %>
  <% if @emails.length > 200 %>
    <b>Email List (showing top 20 of <%= number_with_delimiter(@emails.length) %> total):</b>
    <% @emails = @emails[0..19] %>
  <% else %>
    <b>Email List:</b> 
  <% end %>
  <ul>
    <% @emails.each do |email| %>
      <li><%= email %></li>
    <% end %>
  </ul>
</p>
<%= button_to 'Update This List', refresh_group_path(@group) %>
<br/>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Delete', group_path(@group), :method => :delete, :confirm => "Are you sure you want to delete this group?" %> |
<%= link_to 'Back', groups_path %>
